pre.programlisting {
    font-size: 80%;
    background-color: #f0f0ff ;
    color: #000040 ;
    border: 1px solid #000066 ;
}
pre.screen {
    font-size: 80%;
    background-color: #f0f0ff ;
    color: #000040 ;
    border: 1px solid #000066 ;
}
th.slogan {
    line-height : 20 % ;
    font-style: oblique ;
    font-weight : normal ;
    font-size : 70% ;
    vertical-align : center ;
}
th.sflogo {
    font-size : 70% ;
    font-weight : normal ;
    vertical-align : top ;
}
tr.question {
    font-weight: bold ;
}
tr.question td {
    vertical-align: baseline;
}
div.qandaset dt {
    line-height: 180% ;
}
span.productname {
    color: #404040 ;
    font-style: oblique ;
}
span.type {
    font-family: monospace ;
}
a img {
    border: none;
}

