pre.programlisting {
  font-size: 80%;
  background-color: #f0f0ff ;
  color: #000040 ;
  border: 1px solid #000066 ;
}
pre.screen {
  font-size: 80%;
  background-color: #f0f0ff ;
  color: #000040 ;
  border: 1px solid #000066 ;
}
